<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nofapmainactivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NofapMainActivity">
        <activity android:name=".ToDoList.ToDoListActivity"></activity>
        <activity android:name=".Trophy.TrophyActivity" />
        <activity android:name=".Community.CommunityActivity" />
        <activity android:name=".Timer.TimerActivity" />
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".MainPage.MainPageActivity" />
        <activity android:name=".Signup.SignupActivity" />
        <activity android:name=".Introductory.IntroductoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>